{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'images/favicon_io/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {%static 'images/favicon_io/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon_io/favicon-16x16.png'%}">
    <link rel="manifest" href="{%static 'images/favicon_io/site.webmanifest'%}">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body class="overflow dashboard">
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default1 navbar-trans navbar-expand-lg fixed-top nav-pad">
    <div class="container">
      <a class="logo" href="">
        <img src="{%static 'images/logo/logoPayED2.svg' %}" alt="logo">
      </a>
      <p class="text-dark pt-2 ms-3 school">KNUST</p>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      </div>
      <!-- Profile -->
    </div>
    <div class="collapse navbar-collapse" >
        <div class="pe-3 border-end">
            <i class="bi bi-bell position-relative">
                <span class="position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            </i>
        </div>
        <div class="profile row ms-3">
            <div class="col-4">
                <img src="{%static 'images/profile.png'%}" alt="avatar" class="rounded-circle img-fluid py-3" style="width: 40px"/>
            </div>

            <div class="col-8">
                <div class="row py-2">
                    <span>KNUST</span>
                    <span class="font-12">Owner</span>
                </div>
            </div>

        </div>
    </div>
  </nav>
  <!-- End Header/Navbar -->

    {% block content %}

    {% endblock %}
</body>
</html>