{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://widget.northeurope.cloudapp.azure.com:9443/v0.1.0/mobile-money-widget-mtn.js"></script>
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body class="overflow">
  <!-- ======= Header/Navbar ======= -->
  <nav class="navbar navbar-default1 navbar-trans navbar-expand-lg fixed-top">
    <div class="container ms-3">
      <a class="logo" href="">
        <img src="{%static 'images/logo/logoPayED2.svg' %}" alt="logo">
      </a>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      </div>
      <!-- Select Country -->
    </div>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{%static 'images/flags/ukflag.webp'%}"  width='20' height='15' alt=""> <span style="color: #0052B4 ;">GB</span> 
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><img src="{%static 'images/flags/usaflag.svg'%}"  width='20' height='15' alt=""></a></li>
            <li><a class="dropdown-item" href="#"><img src="{%static 'images/flags/ghanaflag.png'%}"  width='20' height='15' alt=""></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Header/Navbar -->

    {% block content %}

    {% endblock %}
</body>
</html>