{% extends '../../dist/templates/dashboard/base.html' %}
{% block page_title %}PayEd{% endblock %}
{% load static %}

{% block content %}
<section id="home">
    <div class="row">
        <div class="splash col-lg-6">
            <div class="img text-center mt-5">
                <img src="{%static 'images/SplashScreen.svg'%}" class="img-fluid" alt="Splash Image">
            </div>

            <p class="splash-text text-white px-5">Paying your school fees and application fees has never been easier. We provide you with a dependable, transparent, and stress-free approach to paying for your education.</p>
            
        </div>
    <div class="login col-lg-6">
        <div class="text-center mt-5">
            <h2 class="heading">LOGIN</h2>
            <p>Completed a transaction before? Login to access your transaction history.</p>
        </div>
        <div class="wrapper mt-5">  
            {% include '../../templates/includes/alerts.html' %}
            <form action="" method="post">
                {% csrf_token %}
             <div class="input otp-input">
                <label class="my-2" for="phoneNumber">Enter six -digit code sent to your number</label>
                 <div class="d-flex align-items-center justify-content-between">
                 <input type="text" id="1" class="form-control" name="otp1" maxlength="1" required>
                 <input type="text" id="2" class="form-control" name="otp2" maxlength="1" required>
                 <input type="text" id="3" class="form-control"  name="otp3" maxlength="1" required>
                 <input type="text" id="4" class="form-control" name="otp4" maxlength="1" required>
                 <input type="text" id="5" class="form-control"  name="otp5"maxlength="1" required>
                 <input type="text" id="6" class="form-control" name="otp6" maxlength="1" required>
                 </div>
                 <button class=" btn btn-primary float-end my-3">Submit</button>  
             </div>
            </form>       
         </div>
 
         <div class="text-center mt-5 pt-3">
             <p>Didn't get the code? <a href="{%url 'dashboard:resendOTP' %}" style="text-decoration: none;">Resend</a></p> 
         </div>
    </div>
    </div>
    
</section>

{%endblock%}